# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store

# Configuración de VS Code
.vscode/

# Logs y temporales
*.log
predicciones_api.csv
drift_monitor_resultados.csv